*
{
    margin: 0;
    padding: 0;
}
body
{
    background: url(https://tse1.mm.bing.net/th/id/OIP.P2jc75jJsPOPhhInVH6BPwHaFt?w=213&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.container
{
    border-radius: 20px;
    background:black;
    /* margin-top: 13rem;
    margin-left: 32%; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid white;
    width: 500px;
    height:350px;
}
h2
{
    cursor:auto;
    font-size: 2rem;
    padding: 10px;
    text-decoration:2px underline;
}
.age-calculator 
/* form */
{
    display: flex;
    margin-top: 10px;
    gap: 24px;
}
input
{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
    /* border: 2px solid rgb(5, 86, 192);; */
    border-radius: 10px;
    height: 2.5rem;
    width: 7rem;

}
label
{
    cursor:auto;
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
}
.submit
{
    display: flex;
    gap: 10px;
    align-items: center;    
    margin-top: 10px;
}

button
{
    color: white;
    /* text-align: center; */
    background: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    height: 3rem;
    width: 11rem;
}
button:hover
{
    border: none;
    color: white;
    background-color:green;
    transition:1s ease;

}
button:active
{
    transform: scale(0.90);
}
.submit :nth-child(2):hover
{
    border: none;
    color: white;
    background-color: red;
    transition:1s ease;
}
#content
{
    color: red;
    font-size: 1.3rem;
    padding: 30px 50px;
}
